detection/data/*
detection/cache/*
**/.vscode
**/.idea
**/*.jpg
**/*.png
**/*.pdf
**/*.pkl
**/*.pt
**/*.pth
**/.DS_Store
**/*.zip
**/*.pyc
**/*.list
**/*.npy
**/__pycache__
dev_utils/*
**/*.egg-info
ext/build
ext/dist
log
slurmlog
wandb
.dist_init
.aim
**/*.dict
**/*.egg-info
**/build/*
**/dist/*